{% extends "base.html" %}

{% block title %}
<title>QR - Index</title>
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert text-center {{'alert-danger' if category == 'error'}} {{'alert-success' if category == 'success'}}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
	{% endwith %}
    <!-- Cuerpo de la pagina -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3"> 
                
            </div>
            <div class="col-lg-6  col-md-3 col-sm-6">
                <h1 class="text-light text-center montserrat mg-title">Herramientas para programar</h1>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-3" >

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="card-deck bg-dark  cards">
                    <div class="card-body text-light text-center">
                        <h4 class="card-title">JAJA LOL XD</h4>
                         <a class="btn btn-primary" data-bs-toggle="collapse" href="#data4">More Info</a>
                        <div id="data4" class="collapse">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid id, magnam eaque eum reprehenderit nemo dolore enim at quam delectus consequatur expedita facilis vel cupiditate laboriosam officiis temporibus tempore, illum dicta corporis fugiat sed. Debitis, suscipit, assumenda. Modi temporibus veritatis repellendus nihil quis ipsam at, eveniet molestiae est vel!</p>
                        </div>
                    </div>
                    <img class="card-img-bottom img-ide" src="https://image.pngaaa.com/693/3505693-middle.png" alt="manos" >
                </div>
            </div>  
            <div class="col-lg-3  col-md-3 col-sm-6">
                <div class="card-deck  cards bg-dark">
                    <img class="card-img-top img-ide" src="https://image.pngaaa.com/693/3505693-middle.png" alt="manos" >
                    <div class="card-body text-light text-center">
                        <h4 class="card-title">JAJA LOL XD</h4>
                        <!-- Collapse -->
                        <a class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#data1">More Info</a>
                        <div id="data1" class="collapse">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid id, magnam eaque eum reprehenderit nemo dolore enim at quam delectus consequatur expedita facilis vel cupiditate laboriosam officiis temporibus tempore, illum dicta corporis fugiat sed. Debitis, suscipit, assumenda. Modi temporibus veritatis repellendus nihil quis ipsam at, eveniet molestiae est vel!</p>
                    </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-3  col-md-3 col-sm-6">
                <div class="card-deck  cards  bg-dark">
                    <div class="card-body text-light text-center">
                        <h4 class="card-title">JAJA LOL XD</h4>
                         <a class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#data2">More Info</a>
                        <div id="data2" class="collapse">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid id, magnam eaque eum reprehenderit nemo dolore enim at quam delectus consequatur expedita facilis vel cupiditate laboriosam officiis temporibus tempore, illum dicta corporis fugiat sed. Debitis, suscipit, assumenda. Modi temporibus veritatis repellendus nihil quis ipsam at, eveniet molestiae est vel!</p>
                        </div>
                    </div>
                    <img class="card-img-bottom img-ide" src="https://image.pngaaa.com/693/3505693-middle.png" alt="manos" >
                </div>
            </div>  
             <div class="col-lg-3  col-md-3 col-sm-6">
                <div class="card-deck text-light cards bg-dark">
                    <img class="card-img-top img-ide" src="https://image.pngaaa.com/693/3505693-middle.png" alt="manos" >
                    <div class="card-body text-light text-center">
                        <h4 class="card-title">JAJA LOL XD</h4>
                        <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#data3" role="button">More Info</a>
                        <div id="data3" class="collapse">
                            <p class="card-text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid id, magnam eaque eum reprehenderit nemo dolore enim at quam delectus consequatur expedita facilis vel cupiditate laboriosam officiis temporibus tempore, illum dicta corporis fugiat sed. Debitis, suscipit, assumenda. Modi temporibus veritatis repellendus nihil quis ipsam at, eveniet molestiae est vel!</p>
                        </div>
                    </div>
                </div>
            </div>     
        </div>

{% endblock %}

